[submodule "code/thirdParty/glfw"]
	path = code/thirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "code/thirdParty/glm"]
	path = code/thirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "code/thirdParty/stb"]
	path = code/thirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "code/thirdParty/tinyobjloader"]
	path = code/thirdParty/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "code/thirdParty/spdlog"]
	path = code/thirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "code/thirdParty/imgui"]
	path = code/thirdParty/imgui
	url = https://github.com/ocornut/imgui.git
	
[submodule "code/thirdParty/json"]
	path = code/thirdParty/json
	url = https://github.com/nlohmann/json.git	
[submodule "code/thirdParty/nativefiledialog-cmake"]
	path = code/thirdParty/nativefiledialog-cmake
	url = https://github.com/aarcangeli/nativefiledialog-cmake.git
[submodule "code/thirdParty/xcsrlib"]
	path = code/thirdParty/xcsrlib
	url = https://github.com/moepmoep12/xxr.git
[submodule "code/thirdParty/freetype2"]
	path = code/thirdParty/freetype2
	url = https://github.com/aseprite/freetype2.git
