[submodule "code/thirdParty/glfw"]
	path = code/thirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "code/thirdParty/glm"]
	path = code/thirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "code/thirdParty/stb"]
	path = code/thirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "code/thirdParty/tinyobjloader"]
	path = code/thirdParty/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "code/thirdParty/spdlog"]
	path = code/thirdParty/spdlog
	url = git@github.com:gabime/spdlog.git
